.wrapper {
    background-color: burlywood;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    background-color: chocolate;
}

.a {
    display: flex;
}

.b {
    flex: 7;
    background-color: crimson;
    display: flex;
}

.c {
    background-color: darkgoldenrod;
}

.d {
    background-color: firebrick;
}

.a1 {
    flex: 1000;
    background-color: cornsilk;
}

.b2 {
    flex: 2;
    background-color: gold;
    display: flex;
    flex-direction: column;
}

.b3 {
    flex: 1;
    background-color: grey;
}

.b21 {
    flex: 3;
    background-color: hotpink;
}

.b22 {
    flex: 5;
    background-color: indigo;
}

.b23 {
    flex: 3;
    background-color: lightcoral;
}

.flex1 {
    flex: 1;
}